*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: cursive;

}
.container {
    padding: 30px;
    margin: auto;
    width: 90%;
}


.landing-page{
    /* background-color: #0f172b;  */
    position: relative;

    background: linear-gradient(#000000b5, #000000b5), url(./images/y2meta.com-1594647beefSteakHDFootage-1080p-ezgif.com-speed.gif);
    background-size: cover;
    height: 50vh;

}


.header {
    position: absolute;
    z-index: 1;
    color: white;
    font-family: "Nunito", sans-serif;
    font-size: x-large;
    top: 45%;
    left: 42%;
}
.header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.landing-page .nav {
    background-color:#0f172bb1;
    padding: 15px;
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
}
.landing-page .nav .container {
    display: flex;
    justify-content: space-around;
    padding: 1px;

}
.landing-page .logo {
    width: 40%;
    font-size: 40px;
    color: #FEA116;
}
.landing-page .links {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

.landing-page ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
.landing-page .links ul a:hover {
    color: #FEA116;
}
.landing-page .links .button:hover {
    background-color: #f3b252;
}
.landing-page .links .button1:hover {
    background-color: #9a9a9a;
}
.landing-page a {
    text-decoration: none;
    color: white;
}
.landing-page .button {
    background-color: #FEA116;
    padding: 10px;
    color: white;
    outline: none;
    border: 1px solid transparent;
    border-radius: 15px;
    width: 15%;
    margin: 5px;
}
.landing-page .button1{
    background-color: #ffffff;
    padding: 10px;
    color: #FEA116;
    outline: none;
    border: 1px solid transparent;
    border-radius: 15px;
    width: 15%;
    text-align: center;
    margin: 5px;
}

#welcome{
    font-size:medium;
    color: #f3b252;
}
.landing-page .button3{
    background-color: #fe1616;
    padding: 2px;
    color: #ffffff;
    outline: none;
    border: 1px solid transparent;
    border-radius: 15px;
    width: 5%;
    text-align: center;
/*     margin: 5px;
 */}
/* ////////////////////////////////////// */


.text-with-line h5::after{
    content: "";
    display: block;
    width: 30px;
    border: 1px solid #FEA116;
    transform: translate(78px, -7px);
}
.body{
    background-color: #F1F8FF;
}
.container1{
    margin: 70px auto;
    width: 95%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}
.image{
    width: 61%;
}
.image video{
    width: 100%;
    height: 100%;
    /* margin-top: 20px; */
    /* margin-left: 20px; */
}
.content{
    background-color: #0F172B;
    padding: 30px 50px;
    /* background-color: aqua; */
    width: 40%;
    /* margin-left: 15px; */
}
.content h1{
color: white;
}
.content h5{
    padding-bottom: 10px;
    color: #FEA116;
    font-family: 'Pacifico', cursive !important;
    font-size: 13px;
    
}
.sec-inputs{
    display: flex;
    justify-content: space-between;
    width: 90%;
    
}
.sec-inputs input{
    display: flex;
    width: 45%;
    border-radius: 5px;
    padding: 5px;
    /* margin-right: 20px; */

}

.content select{
    border-radius: 5px;
    margin-top: 30px;
    width: 45%;
    height: 30px;
    
}
.input{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.input input{
    width: 45%;
    padding: 15px;
    border-radius: 5px;
}
.input-date input{
    padding: 5px;
    
}
.text-input{
    width: 45%;
    /* margin-right: 5px; */
    height: 30px;
}
.content input{
    margin-top: 30px;
}

#text-area{
    margin-top: 30px;
    width: 88%;
    height: 70px;
    padding: 10px;
}
.book-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 25px;
    width: 88%;
    background-color: #FEA116;
    color: white;
}






/* Start Footer */
.container {
    padding: 30px;
    margin: auto;
    width: 90%;
}

.footer {
    background-color: #0F172B;
    color: white;
}
.footer .container {
    display: flex;
    justify-content: space-between;
}
.footer .container .main {
    width: 31%;
}
.footer .container a {
    text-decoration: none;
    color:white;
}
.footer .container a::before {
    content: "";
    border: 7px solid;
    border-color: transparent transparent transparent white;
    display: inline-block;

}
.footer .container a:hover{
    color: #FEA116;
    
}
.footer .container li {
    list-style: none;
    margin-bottom: 5px;
}

.footer .container .main h3 {
    margin-bottom: 18px;
    font-size: 25px;
    color: #FEA116;
}

.footer .container .main h3::after {
    content: "";
    border: #FEA116 2px solid;
    display: block;
    width: 60px;
    transform: translate(128px, -14px);
}
.footer .container .main .head-footer::after {
    transform: translate(103px, -14px);
}

.footer .social {
    margin-top: 18px;
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.footer .social span{
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    width: 37px;
} 

.footer .main p i {
    margin-right: 15px;
}
.footer .main .para {
    margin-bottom: 5px;
}
.footer .social span:hover {
    background: #FEA116;
    border-color: #FEA116;
    color: white;
}

/* End Footer */
